.ui.inverted.text.container
  .ui.inverted.segments
    .ui.inverted.segment( v-if="problem" )
      h2.ui.inverted.heading 
        | # {{ problem._id }}: {{ problem.name }}

    .ui.inverted.segment( v-if="stats.hwStats" )
      h3.ui.inverted.header Statistic
      .ui.inverted.grid.three.column.row
        .column.center.aligned
          .ui.inverted.statistic
            .value {{ stats.hwStats.count }}
            .label Number of users tried
        .column.center.aligned
          .ui.inverted.statistic
            .value {{ stats.hwStats.AC }}
            .label Number of AC users
        .column.center.aligned
          .ui.inverted.statistic
            .value {{ stats.hwStats.average | toFixed 1 }}
            .label Average points

    .ui.inverted.segment
      h3.ui.inverted.header Scoreboard
      table.ui.inverted.celled.table
        thead
          tr
            th.collapsing.center.aligned Rank
            th By
            th Score
            th AC count
            th Last Submitted Time
        tbody
          tr( v-for="sub in (stats.highest?stats.highest:[])")
            td.collapsing.center.aligned {{ $index + 1 }}
            td {{ _.get(sub, 'user.meta.name', '') }} ({{ _.get(sub, 'user.meta.id') }})
            td {{ sub.points }}
            td {{ sub.AC }}
            td {{ probUtils.parseMongoTime(sub.ts) }}
          

